@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa One&display=swap');
body {
    font-family: Poppins;
}


* {
    margin: 0;
    padding: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* Navbar Style */

.navbar {
    overflow: hidden;
    background-color:blueviolet;
    justify-content: space-between;
}

.logo a {
    float: left;
    font-family: Changa One;
    font-size: 26px;
    display: block;
    padding: 0.5em;
    padding-left: 35px;
}

.nav-list a {
    font-size: 18px;
    padding: 0.7em;
    float: right;
    font-family: Poppins;
}

.nav-list {
    margin-right: 100px;
}

.nav-list a:hover{
    background-color: rgb(126, 38, 209);
}




/* Main Container */

.main-container{
    display: grid;
}



/* Container */

.container {
    padding-top: 150px;
    grid-column: 3/12;
}
.container p{
    font-size: 28px;
}

.container input{
    width: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container button {
    margin-bottom: 20px;
    position: relative;
    padding: 0.5em;
    width: 100px;
    font-size: 16px;
}

#result {
    font-size: 56px;
}